h1 {
    color: purple;
    font-size: 60px;
}

#bear-photo {
    width: 250px;
}

.special {
    color: teal;
    font-size: 30px;
    border: 1px solid teal;
}

ul>li {
    list-style: none;
}

input[type='password'] {
    width: 200px;
    height: 20px;
    border-radius: 0px;
}

input[type='text'] {
    width: 200px;
    height: 20px;
    border-radius: 0px;
}

input[type='password']:focus {
    border-radius: 0px;
}

.todo{
    font-size: 30px;
    color: olive;
}

.done{
    color: rgb(175, 33, 33);
    text-decoration: line-through;
    opacity: 50%;
}


.button{
    width: 80px;
    height: 40px;
    border-width: 0px;
    border-radius: 4px;
    background-color: red;
    color: white;
    position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 100px;
  
}

#boxes{
    display: flex;
    justify-content: content;
    align-items: center;
    flex-direction: row;
}

.box{
    width: 200px;
    height: 200px;
}

