body{
    background: #352f5b;

}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    max-width: 400px;
}

.todos li{
    background: #423a6f;
}

.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}